.controls.contain-width
 .filters
  %p Filter by topic:
  .filter.relations{:"data-filter" => ".relations"} Topic 1 icon
  .filter.adol{:"data-filter" => ".adol"} Topic 2 icon
  .filter.money{:"data-filter" => ".money"} Topic 3 icon
  .filter.skills{:"data-filter" => ".skills"} Topic 4 icon
  .filter.comm{:"data-filter" => ".comm"} Topic 5 icon
  .filter.career{:"data-filter" => ".career"} Topic 6 icon
  .filter.reset{:"data-filter" => "all"} | Show All Topics
 .sort
  %p Sort:
  .sort{:"data-sort" => "date:desc"} Date Descending
  .sort{:"data-sort" => "date:asc"} Date Ascending
  .sort{:"data-sort" => "random"} Random
#river.contain-width
 - data.resources.each_with_index do |resource, index|
  %a{:class => "mix resource #{resource.topic} #{resource.type}", :"data-date" => "#{resource.date}", :href => "#{resource.target}"}
   .resource-header icon and stuff
   - if /http/.match("#{resource.image}")
    %img{:src => "#{resource.image}", :class => "resource-image"}
   - else
    %img{:src => "/images/resources/#{resource.image}", :class => "resource-image"}
   .resource-title #{resource.title}
   .resource-footer
    .resource-type #{resource.type}
    .resource-share Share